body {
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}

.header-center {
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.container {
    margin: 0 auto;
    text-align: center;
}

p {
    color: white;
    font-size: 24px;
}

.border-game {
    margin: 0 auto;
    margin-top: 50px;
    height: 600px;
    width: 600px;
    border: 5px solid black;
    border-radius: 100%;
}

.dashboard {
    margin: 0;
    float: left;
    position: relative;
    width: 294px;
    height: 294px;
    border: 3px solid black;
    z-index: 8;
}

.enabled {
    opacity: 0.6;
    z-index: 8;
    transition: opacity 500ms;
}

.red {
    background-color: #D60017;
    border-radius: 100% 0 0 0;
}

.blue {
    background-color: #0017D6;
    border-radius: 0 100% 0 0;
}

.green {
    background-color: #17D600;
    border-radius: 0 0 0 100%;
}

.yellow {
    background-color: #C2D600;
    border-radius: 0 0 100% 0;
}

.red:hover, .blue:hover, .green:hover, .yellow:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 500ms;
}

.red:active, .blue:active {
    transform: translateY(2px);
    transition: transform 500ms;
}

.green:active, .yellow:active {
    transform: translateY(-2px);
    transition: transform 500ms;
}

.disabled {
    opacity: 0.3;
    transition: opacity 500ms;
    cursor: not-allowed;
}

.red-disabled {
    background-color: #D60017;
    border-radius: 100% 0 0 0;
}

.blue-disabled {
    background-color: #0017D6;
    border-radius: 0 100% 0 0;
}

.green-disabled {
    background-color: #17D600;
    border-radius: 0 0 0 100%;
}

.yellow-disabled {
    background-color: #C2D600;
    border-radius: 0 0 100% 0;
}

.controls {
    width: 245px;
    height: 245px;
    border: 10px solid black;
    margin-left: 168px;
    margin-top: 168px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    z-index: 10;
}

.title {
    color: white;
    margin-top: 30px;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;   
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.rounds {
    color: white;
    font-size: 24px;
}

.btn {
    padding: 0;
    margin: 0px;
    margin-left: 30px;
    width: 52px;
    height: 52px;
    border-radius: 42px;
    border: none;
}

.btn:hover {
    background: #4E132E;
    color: white;
    transition: 500ms;
}

.btn:active {
    transform: translateY(4px);
    transition: transform 500ms;
}

.led-red {
    margin: 30px auto 30px 30px;
    width: 12px;
    height: 12px;
    background-color: #940;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-green {
    margin: 30px auto 30px 30px;
    width: 12px;
    height: 12px;
    background-color: #690;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-yellow {
    margin: 30px auto 30px 30px;
    width: 12px;
    height: 12px;
    background-color: #A90;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

img {
    width: 32px;
    height: 32px;
    background-color: transparent;
    margin-left: 5px;
    margin-top: 3px;
}

